.story-aesthetics {
	background-color: #202020;
	position: static;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 0%;
	margin-bottom: 0%;
	z-index: 0;
}

.story-dark {
	font-size: 1.1em;
	background-color: #181818;
	position: static;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
	z-index: 0;
	padding: 25px;
	-webkit-user-select: none;
	-moz-user-select: none;     
	-ms-user-select: none;
	user-select: none;
}

@media only screen and (max-width: 768px) {
  /* for mobile phones: */
  [class*="story-"] {
    margin-left: 5%;
	margin-right: 5%;
  }
}

.banner {
	background-color: #222222;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border: 5px dashed #333333;
	border-right: 0px;
	border-left: 0px;
	padding-left: 10px;
	line-height: 0.1;
}

.banner-title {
	font-size: 1.5em;
	font-family: Courier New;
	line-height: 0.1;
	color: #ffffff;
}

.banner-subtitle {
	font-size: 0.75em;
	font-family: Courier New;
	line-height: 1;
	color: #ffffff;
}

.end-of-chapter {
	font-size: 1.7em;
	font-family: Courier New;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
}

.chapter-heading {
	font-size: 1.7em;
	font-family: Courier New;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
}
  
.narrator {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.6;
	color: #ffffff;
}

.announcement {
	font-size: 1em;
	font-family: Times New Roman;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
}

.kranyon {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #c80000;
}

.adelphi {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #e66000;
}

.cassiopeia {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #fe8718;
}

.atom {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #e8b200;
}

.nexus {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #ebd21a;
}

.arwen {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #d5e21a;
}

.moran {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #abe000;
}

.galinda {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #13d558;
}

.samsara {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #08dec1;
}

.zenith {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #11d4d7;
}

.nefferin {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #08bae6;
}

.aurora {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #0273ec;
}

.onnyx {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #201ad9;
}

.tenebris {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #5f3ce8;
}

.candell {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #7f0fd6;
}

.fenferra {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #d4198a;
}

.times-new-roman {
	font-family: Times New Roman;
}
























