.story-aesthetics {
	background-color: #202020;
	position: static;
	margin-left: 18%;
	margin-right: 18%;
	margin-top: 0%;
	margin-bottom: 0%;
	z-index: 0;
}

.story-dark {
	font-size: 1.1em;
	background-color: #181818;
	position: static;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
	z-index: 0;
	padding: 25px;
	-webkit-user-select: none;
	-moz-user-select: none;     
	-ms-user-select: none;
	user-select: none;
}

.video {
    position: static;
    width: 100%;
    height: 71.5%;
}

@media only screen and (max-width: 768px) {
  /* for mobile phones: */
  [class*="story-"] {
    margin-left: 3%;
	margin-right: 3%;
  }
  
  .video {
    position: static;
    width: 100%;
    height: 60%;
  }
}

.banner {
	background-color: #222222;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border: 5px dashed #333333;
	border-right: 0px;
	border-left: 0px;
	padding-left: 10px;
	line-height: 0.1;
}

.banner-title {
	font-size: 1.5em;
	font-family: Courier New;
	line-height: 0.1;
	color: #ffffff;
}

.banner-subtitle {
	font-size: 0.75em;
	font-family: Courier New;
	line-height: 1;
	color: #ffffff;
}

.panel {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/* unvisited link */
a:link {
  color: #87ceeb;
}

/* visited link */
a:visited {
  color: #ce8aeb;
}

/* mouse over link */
a:hover {
  color: #ffffff;
}

/* selected link */
a:active {
  color: #ffffff;
}




.end-of-chapter {
	font-size: 1.5em;
	font-family: Courier New;
	line-height: 1;
	color: #ffffff;
	text-align: center;
}

.chapter-heading {
	font-size: 1.5em;
	font-family: Courier New;
	line-height: 1;
	color: #ffffff;
	text-align: center;
}
  
.narrator {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.4;
	color: #ffffff;
}

.announcement {
	font-size: 1em;
	font-family: Times New Roman;
	line-height: 1.5;
	color: #ffffff;
	text-align: center;
}

.kranyon {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #c80000;
}

.adelphi {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #e65000;
}

.cassiopeia {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #fe7c18;
}

.atom {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #e8a300;
}

.nexus {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #ebd318;
}

.arwen {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #cee218;
}

.moran {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #abe000;
}

.galinda {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #13d558;
}

.samsara {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #06deba;
}

.zenith {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #10c7d7;
}

.nefferin {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #07aee6;
}

.aurora {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #0273ec;
}

.onnyx {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #201ad9;
}

.tenebris {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #5f3ce8;
}

.candell {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #7f0fd6;
}

.fenferra {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #d4198a;
}

.haelfheim {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #9aff96;
}

.abigaile {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #ff91e2;
}

.naphtha {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #d400ff;
}

.drbrown {
	font-size: 1em;
	font-family: Courier New;
	line-height: 1.1;
	color: #8d5e2f;
}

.psychic {
	text-shadow: 2px 2px;
}

.times-new-roman {
	font-family: Times New Roman;
}
























